Repository PolideaInternal/airflow-munchkin: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, pylint, mypy, pytest

autoflake:
  name: Autoflake - removes unused imports and variables
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variable
  - --recursive

pylint:
  name: Checks for common programming errors with pylint
  language: python
  entry: pylint
  require_serial: true

mypy:
  name: Checks typing annotations consistency with mypy
  language: python
  entry: mypy
  pass_filenames: true
  require_serial: true

pytest:
  name: pytest - run unit test
  entry: pytest
  language: python

Make mypy and pylint pre-commit check a local hooks. (#14)
  .pre-commit-config.yaml
  airflow_munchkin/block_renderer/template_utils.py
  requirements_dev.txt
Due: autoflake, pylint, mypy

Fix missing docstring
  airflow_munchkin/client_parser/cloud_client_parser.py
  tests/client_parser/test_cloud_client_parser.py
Due: autoflake, pylint, mypy, pytest

Fix missing docstring (#12)
  airflow_munchkin/client_parser/cloud_client_parser.py
  tests/client_parser/test_cloud_client_parser.py
Due: autoflake, pylint, mypy, pytest

Update imports handling
  airflow_munchkin/block_generator/hook_generator.py
  airflow_munchkin/block_generator/imports_statement_gather.py
  airflow_munchkin/client_parser/cloud_client_parser.py
Due: autoflake, pylint, mypy

fixup! Update imports handling
  airflow_munchkin/block_generator/hook_generator.py
  airflow_munchkin/client_parser/docstring_parser/bricks.py
Due: autoflake, pylint, mypy

fixup! fixup! Update imports handling
  tests/block_generator/test_hook_generator.py
  tests/client_parser/test_cloud_client_parser.py
Due: autoflake, pylint, mypy, pytest

Update imports handling (#13)
  airflow_munchkin/block_generator/hook_generator.py
  airflow_munchkin/block_generator/imports_statement_gather.py
  airflow_munchkin/client_parser/cloud_client_parser.py
  airflow_munchkin/client_parser/docstring_parser/bricks.py
  tests/block_generator/test_hook_generator.py
  tests/client_parser/test_cloud_client_parser.py
Due: autoflake, pylint, mypy, pytest

Fix freezing when parse type
  airflow_munchkin/block_generator/imports_statement_gather.py
  airflow_munchkin/client_parser/docstring_parser/typehint_parser.py
  tests/client_parser/docstring_parser/test_typehint_parser.py
Due: autoflake, pylint, mypy, pytest

Fix freezing when parse type (#15)
  airflow_munchkin/block_generator/imports_statement_gather.py
  airflow_munchkin/client_parser/docstring_parser/typehint_parser.py
  tests/client_parser/docstring_parser/test_typehint_parser.py
Due: autoflake, pylint, mypy, pytest

Filter args rendered in constructor docstring
  airflow_munchkin/block_renderer/brushes.py
  airflow_munchkin/template/class_block.py.tpl
  tests/block_renderer/test_brushes.py
Due: autoflake, pylint, mypy, pytest

fixup! Filter args rendered in constructor docstring
  airflow_munchkin/block_renderer/brushes.py
  airflow_munchkin/template/class_block.py.tpl
  tests/block_renderer/test_brushes.py
Due: autoflake, pylint, mypy, pytest

Create setup_gcp.sh
  hack/setup_gcp.sh
Due: none

Don't add apply_default decorator to execcute method
  airflow_munchkin/block_generator/operator_generator.py
  tests/block_generator/test_operator_generator.py
Due: autoflake, pylint, mypy, pytest

Remove args and kwargs from docstring (#16)
  airflow_munchkin/block_renderer/brushes.py
  airflow_munchkin/template/class_block.py.tpl
  tests/block_renderer/test_brushes.py
Due: autoflake, pylint, mypy, pytest

Refactor setup_gcp.sh
  hack/setup_gcp.sh
Due: none

Refactor setup_gcp.sh (#18)
  hack/setup_gcp.sh
Due: none

Don't add apply_default decorator to execcute method (#17)
  airflow_munchkin/block_generator/operator_generator.py
  tests/block_generator/test_operator_generator.py
Due: autoflake, pylint, mypy, pytest

Add eee.sh
  hack/eee.sh
Due: none

Use Github Actions
  .github/workflows/ci.yaml
  .travis.yml
  README.rst
  airflow_munchkin/block_generator/operator_test_generator.py
  hack/eee.sh
Due: autoflake, pylint, mypy

Use Github Actions (#21)
  .github/workflows/ci.yaml
  .travis.yml
  README.rst
  airflow_munchkin/block_generator/operator_test_generator.py
  hack/eee.sh
Due: autoflake, pylint, mypy

Path conditions:
  autoflake: any of: \.py$
  pylint: any of: (airflow_munchkin|tests)/.+\.py$
  mypy: any of: \.py$, but not: ^docs/.*$
  pytest: any of: tests/.+\.py$
